/* =================== HOME ===================== */
  
#home {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    background-image: url(../images/AMÉNAGEMENTINTERIEUR/CLOISONS/_MG_7748.png) !important;
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}


/* <!-- Grids --> */

.grids {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; 
  display: flex;
  justify-content: space-between;
}

.grids div {
  width: 1px;
  height: 100%;
  background-color: #d8d8d8c9 !important; 
}

.grids div:nth-child(5) {
  background-color: #a5a5a563 !important; 
}

.grids div:first-child, .grids div:last-child {
  background-color: transparent; 
}

/* <!-- Grids --> */

.animate-intro {
    text-transform: capitalize !important;
}